*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
   
    
        background-color: #66C5CC; /* Azul/Verde Água - Calma e Higiene */
            --color-secondary: #6B8E23; /* Verde Folha - Natureza e Cura */
            --color-background: #F5F5DC; /* Bege Claro - Conforto */
            --color-danger: #ef4444; /* Vermelho padrão para erros */
            font-family: 'inter', sans-serif;
    
   
}

iframe{
    border-radius: 15px;
}

.imagens img{
   width: 150px;
   height: 200px;
   border-radius: 15px;
   margin: 20px;
    

}
main{

   
    padding: 30px;
    margin: 40px;
    border-radius: 20px;
    background-color: white;
    
}
header{

    display: flex;
    justify-content: space-between; 
    background-color: #F5F5DC;
    border-radius: 10px;
    color: #26B7B8
}

.icone img{
    width: 20px;
    gap: 30px;
}

.icone2 img{
    width: 40px;

}

.servicos{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    
    
    
    
}

.imagens{
    display: flex;
    justify-content: space-around;
    
}

.senacicon img{

    width: 60px;
    border-radius: 60px;
    gap: 15px;
}
